venv/
retex

# folder
.vscode

# file type
*.svg
*.pyc
*.pth
*.t7
*.caffemodel
*.mat
*.npy
*.vtf
*.vpk3
*.dds
ExtractedVPK
PNG
vtflib132-bin3
*.json
*.png




stable-diffusion-webui
stable-diffusion-webui
