venv/
retex
ExtractedVPK
PNG
retexEnv

# folder
.vscode
*.vtf
*.vpk
*.dds
*.json
*.png
__pycache__
sd-webui

# file type
*.svg
*.pyc
*.pth
*.t7
*.caffemodel
*.mat
*.npy
*.vtf
*.vpk3
*.dds
*.json
*.png

